<section class="about" id="about">
    <div class="container">
      <figure class="about-banner">
        <img src="./images/about-banner-1.png" alt="House interior">
  
        <img src="./images/about-banner-2.jpg" alt="House interior" class="abs-img">
      </figure>
      <div class="about-content">
  
        <p class="section-subtitle">HomeHub Agency Program </p>
  
        <h2 class="h2 section-title">Join the HomeHub Agency External Agent Program</h2>
  
        <p class="about-text">
            At HomeHub Agency, we are excited to introduce our External Agent Program, 
            designed to reward you for helping us connect buyers and sellers. 
            Here’s how it works:
        </p>
  
        <div class="callout">
        
        <strong><p>Earn 5% Commission:</strong> As an external agent, you will earn a 5% commission for every successful 
            transaction you facilitate. This applies whether you bring a buyer who purchases a property 
            through our platform or if you post a property listing on our platform.</p><br>

        <strong><p>How It Works:</p></strong>
                <strong><p>For Buyers:</strong> If you refer a buyer who successfully purchases a property listed on HomeHub Agency, 
                    you will receive a 5% commission of the total transaction amount.</p> <br>

                <strong><p>For Sellers:</strong> If you post a property on our platform and it gets sold or rented through our services, 
                    you will also earn a 5% commission based on the transaction amount.</p><br>
            
        <strong><p>Commission Structure:</strong> HomeHub Agency takes a 10% commission on each transaction. From this, 5% is allocated 
                to you, the external agent, and the remaining 5% is retained by us.</p><br>
  
        <p>Get Started: Signing up is simple. Register for the External Agent Program, start referring buyers or 
                posting properties, and begin earning your commissions.</p>

            <!-- <p>Experience the benefits of partnering with HomeHub Agency and enjoy the rewards of your efforts. 
                For more information and to sign up, visit www.homehubng.com or contact us directly.</p> -->
        
    </div>
        <a href="/agents" class="btn">Apply Now</a>
      </div>
    </div>
  </section>
  