      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Are looking for an opportunity to earning with Homehub Agency?</h2>

              <p class="card-text">Join our agency program and become an agent today!</p>
            </div>
            <a href="/agents">
            <button class="btn cta-btn">
              <!-- <span>Explore Properties</span> -->
              <span>Apply</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button></a>
          </div>

        </div>
      </section>
    </article>
</main>